body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #0b0b0b;
    color: white;
    line-height: 1.6;
}
header 
{
    background-color: #080808;

    width: 100%;
    min-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 6%;

    border-bottom: 1px solid #292929;

    position: sticky;
    top: 0;

    z-index: 1000;
}
nav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
nav ul li a {
    color: #dddddd;
    font-size: 0.9rem;
    transition: 0.3s;
}
nav ul li a:hover 
{
    color: #e10600;
}
footer {
    background-color: #050505;
    border-top: 1px solid #292929;
}
.footer-bottom {
    border-top: 1px solid #222222;
    text-align: center;
    padding: 20px;
}
.footer-bottom p {
    color: #666666;
    font-size: 13px;
}
.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 60px 7%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
}
.footer-column h3 {
    font-size: 17px;
    margin-bottom: 18px;
    color: white;
}
.footer-column p {
    color: #888888;
    font-size: 14px;
    margin-bottom: 8px;
}